.tag-tile{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.option-button {
    align-self: flex-end;
    margin: 0;
}

.photo-card {
    border: 0.5px white solid;
    border-radius: 0.375rem;
    width: 22rem;
    background-color: rgba(0, 0, 0, 0.695);
}

.image-tile {
    display: flex;
    border-top: 0.5px solid white;
    padding: 0.5rem;
    object-fit: contain;
}

.tag {
    border: 0.5px white solid;
    border-radius: 0.375rem;
    padding: 0.2rem;
    align-self: center;
    margin: 0;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}